/*
h1:hover {
  color: brown;
}
a:visited {
  text-decoration: none;
}
header {
  text-align: center;
  width: 75%;
  margin: auto;
}
article {
  text-align: center;
  width: 60%;
  margin: auto;
}
p::firstletter {
  font-size: 1.5em;
}
footer {
  border: 2px solid magenta;
  border-radius: 25px;
}*/

header img {
  width: 33%;
  border: 2px;
}
nav a {
  text-decoration: line-through;
}
a {
  text-decoration: none;
}
p {
  color: magenta; 
}
p {
  color: yellow;
}